name: PR Labeler

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  label:
    name: Label PR
    runs-on: ubuntu-latest

    steps:
      - name: Label PR based on files
        uses: actions/labeler@v5
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
